body{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.571)),
    url("img/background_image.jpg");
    background-color: rgba(13, 31, 47, 0.332);;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    overflow: hidden;
}

.body{
    justify-items: center;
    padding-top: 40px;
}

h2{
    color:rgb(49, 118, 246);
    font-weight: bolder;
    font-size: 30px;
    font-family:sans-serif;
    text-align: center;
}
h4{
    color:rgb(49, 118, 246);
    font-weight: bolder;
    font-size: 15px;
    font-family:sans-serif;
}

.form-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

#assistant {
    padding-left:640px;
    margin-top:110px;
    position:absolute;
}

#logo {
    position:absolute;
    margin-top: 1px;
    margin-left:20px;
    border-radius:35px;
}

.navbar ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
    
}

ul {
    list-style: none;
    
}

.navbar li {
    background-color: rgb(13, 31, 47);;
    padding:15px;
    margin:10px;
    border-radius: 20px;
    border:0.5px solid rgba(54, 146, 251, 0.962);
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family:sans-serif;
    text-decoration: none;
    transition: 0.5s
}
.navbar li:hover {
    transition: 0.5s;
    background-color: rgb(13, 31, 47);
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);
    
}

input{
    border-radius:10px;
    padding:8px;
    position: relative;
    z-index: 10;
    background-color: rgb(46, 56, 63);
    transition: 0.5s;
    border: none;
    color: aliceblue;
}

input:hover{
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);
    transition: 0.5s;
}

a {
    text-decoration: none;
}


.navbar {
    background-color: rgb(13, 31, 47);
    border-radius: 20px;
    position: sticky;
    margin-top: 15px;
    box-shadow:0px 0px 5px 0.05px rgba(54, 146, 251, 0.626);
}


.start{
    background-color: rgb(13, 31, 47);;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    justify-items: center;
    text-align: center;
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);
}

.welcome{
    background-color: rgb(13, 31, 47);;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    justify-items: center;
    text-align: center;
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);
}

.start button {
    background-color: rgb(3, 60, 110);
    border-radius:10px;
    text-align: center;
    font-family: sans-serif;
    font-size:X-large;
    font-weight: bold;
    margin: 10px;
    border:none;
    position: relative;
    z-index: 10;
    color:rgb(219, 236, 251);
    padding: 10px;
    transition: 0.5s;
}

.welcome button {
    background-color: rgb(3, 60, 110);
    border-radius:10px;
    text-align: center;
    font-family: sans-serif;
    font-size:X-large;
    font-weight: bold;
    margin: 10px;
    border:none;
    position: relative;
    z-index: 10;
    color:rgb(219, 236, 251);
    padding: 10px;
    transition: 0.5s;
}

.options{
    margin-top:380px;
    margin-left:340px;
    width:500px;
    align-items: center;
    position:absolute;
}

button {
    background-color: rgb(3, 60, 110);
    border-radius:10px;
    text-align: center;
    font-family: sans-serif;
    font-size:X-large;
    font-weight: bold;
    margin: 10px;
    border:none;
    position: relative;
    z-index: 10;
    color:rgb(219, 236, 251);
    padding: 10px;
    transition: 0.5s;
}


button:hover {
    transition: 0.5s;
    background-color: rgb(5, 101, 185);
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);

}

.Result{
    background-color: rgb(13, 31, 47);;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    justify-items: center;
    box-shadow:0px 0px 10px 0.25px rgba(54, 146, 251, 0.962);
}

.Result button {
    background-color: rgb(5, 101, 185);
    border-radius:10px;
    text-align: center;
    font-family: sans-serif;
    font-size:X-large;
    font-weight: bold;
    margin: 50px;
    margin-left: 150px;
    border:none;
    position: relative;
    z-index: 10;
    color:rgb(190, 223, 252);
    
}