<html>
<head>
    <title>AI Car Price Predictor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <img id="logo" src="img/logo.png" alt="Logo" height="150">
        <nav>
            <ul>
                <a href="index.html"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Services</li></a>
                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Premium</li></a>
                <a href="#"><li>Contact Us</li></a>
            </ul>
        </nav>
    </div>

    <div class="body">
        <img id='assistant' src="img/assistant.png" height="400" alt="AI assistant">
        <div class="message">
            <h1>What is the model of your car?</h1>
        </div>
        <div class='options'>
            <ul>
                <form method="GET">
                    <button type="submit" name="company" value="maruti"><li>Maruti</li></button>
                    <button type="submit" name="company" value="hyundai"><li>Hyundai</li></button>
                    <button type="submit" name="company" value="tata"><li>Tata</li></button>
                    <button type="submit" name="company" value="mahindra"><li>Mahindra</li></button>
                    <button type="submit" name="company" value="bmw"><li>BMW</li></button>
                    <button type="submit" name="company" value="mercedes"><li>Mercedes</li></button>
                </form>
            </ul>
        </div>
    </div>
</body>
</html>