<html>
    <head>
        <title>AI Website</title>
    </head>
    <body>
        <h1>Hello {{name}}</h1>
        <h2>Enter your car info:</h2>
        <form action="/predict" method="post">
            <label>Enter your car's company:</label><br>
            <input type="text" name="company">
            <br> 
            <label>Enter your car's age:</label><br>
            <input type="number" name="age">
            <br>
            <button type="submit">Submit</button>
        </form>

        <div class="Result">
            {%if company%}
            <h2>Your car's company is {{company}} and age is {{age}}</h2>
            {%endif%}
        </div>
    </body>
</html>