<html>
<head>
    <title>AI Car Price Predictor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <!-- <img id="logo" src="img/logo.png" alt="Logo" height="150"> -->
        <nav>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Services</li></a>
                <a href="#"><li>Blog</li></a>
                <a href="#"><li>Premium</li></a>
                <a href="#"><li>Contact Us</li></a>
            </ul>
        </nav>
    </div>

    <div class="body">
        <img id='assistant' src="img/assistant.png" height="400" alt="AI assistant">
        <div class="message">
            <h1>Start predicting?</h1>
        </div>
        <div class="start">
            <form action="/predict" method="post">
                <label>Enter your car's brand:</label><br>
                <input type="text" name="brand" placeholder="Ford" autofocus>
                <br> 
                <label>Enter your car's model:</label><br>
                <input type="text" name="model" placeholder="Utility Police Interceptor Base">
                <br> 
                <label>Enter your car's model_year:</label><br>
                <input type="number" name="model_year" placeholder=2013>
                <br> 
                <label>Enter your car's milage:</label><br>
                <input type="number" name="milage" placeholder=51000>
                <br> 
                <label>Enter your car's fuel_type:</label><br>
                <input type="text" name="fuel_type" placeholder="E85 Flex Fuel">
                <br> 
                <label>Enter your car's clean_title:</label><br>
                <input type="text" name="clean_title" placeholder="Yes">
                <br> 
                <label>Enter your car's accidents:</label><br>
                <input type="number" name="accident" placeholder=1>
                <button type="submit">Submit</button>
            </form>

            <div class="Result">
                {%if price%}
                <h2>Your car's price is USD$ {{price}}</h2>
                {%endif%}
            </div>
        </div>
    </div>
</body>
</html>